<!DOCTYPE html>
<html>
    <head>
        <title>api todo</title>
    </head>
    <body>
        <h1>To do Api</h1>
        <ul>
            <li>GET / Get all todos : localhost:8888/alltodo</li>
            <li>POST / Create new todo : localhost:8888/todo/create</li>
            <li>DELETE /:id Delete specific todo item : localhost:8888/todo/delete/:id</li>
            <li>POST /:id/toggle Toggle the state of specific todo item (Todo / Done) : localhost:8888/todo/toggle </li>
        </ul>
    </body>
</html>
